
<h2>新規会員登録</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

　<h5>名前</h5>
  <div class="field">
    <%= f.text_field :last_name, autofocus: true, autocomplete: "姓", placeholder: "姓" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "名", placeholder: "名" %>
  </div>

  <h5>フリガナ</h5>
　<div class="field">
    <%= f.text_field :sub_last_name, autofocus: true, autocomplete: "セイ", placeholder: "セイ" %>
    <%= f.text_field :sub_first_name, autofocus: true, autocomplete: "メイ", placeholder: "メイ" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %>
  </div>

  <div class="field">
    <%= f.label :郵便番号（ハイフンなし）%><br />
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "郵便番号（ハイフンなし）" %>
  </div>

　<div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "住所" %>
  </div>

  <div class="field">
    <%= f.label :電話番号（ハイフンなし） %><br />
    <%= f.text_field :phone_number, autofocus: true, autocomplete: "電話番号（ハイフンなし）" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "パスワード" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "パスワード（確認用）" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h5>既に登録済みの方は<%= render "public/users/shared/links" %></h5>
</html>