<div class="container">
	<h1>商品一覧</h1>
	<%= link_to "新商品登録", new_admin_sweet_path %>
	<table class="table table-striped">
		<thead>
			<th>商品ID</th>
			<th>商品名</th>
			<th>税抜価格</th>
			<th>ジャンル</th>
			<th>ステータス</th>
		</thead>
		<tbody>
			<% @sweets.each do |sweet| %>
				<tr>
					<td><%= sweet.id %></td>
					<td><%= link_to sweet.name, admin_sweet_path(sweet.id) %></td>
					<td><%= sweet.tax_free_price %></td>
					<td><%= sweet.genre.name %></td>
					<td><%= sweet.sale_status %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<div class="text-center"><%= paginate @sweets %></div>
</div>

