
<h2><%= @user.last_name%><%= @user.first_name %>さんの会員詳細</h2>
<table>
	<div class="table table-bordered">    
    　　<div class="table-title">

		    <div class="table-title">顧客ID
			  <%= @user.id %>  <% if @user.flag == false %>
						   　　　　　<span>有効会員</span>
						　　　　<% else %>
						   　　　　　<span>退会済み会員</span>
						　　　　<% end %>
			</div>
			
			<div class="table-title">氏名
			  <%= @user.last_name %>  <%= @user.first_name %>
			</div>

			<div class="table-title">フリガナ
			  <%= @user.sub_last_name%>  <%= @user.sub_first_name %>
			</div>
			
            <div class="table-title">郵便番号
			  <%= @user.postal_code %>
			</div>

            <div class="table-title">住所
			  <%= @user.address %>
			</div>

            <div class="table-title">電話番号
			  <%= @user.phone_number %>
			</div>

            <div class="table-title">メールアドレス
			  <%= @user.email %>
			</div>
		</div>
	</div>
	<tbody>
		<tr>
			<td>
		        <%= link_to "編集する", edit_admin_admin_path(@user) %>
		    </td>
		    
		    <td>
		    	<%= link_to "注文履歴一覧を見る", admin_orders_path %>
		    </td>
		</tr>
    </tbody>
</table>
