
<h2><%= @user.last_name%><%= @user.first_name %>さんの会員詳細</h2>
<table class="table">
	<div class="table table-bordered">

		    <div scope="col">顧客ID
			  <%= @user.id %>  <% if @user.flag == false %>
						   　　　　　<span>有効会員</span>
						　　　　<% else %>
						   　　　　　<span>退会済み会員</span>
						　　　　<% end %>
			</div>
			
			<div scope="col">氏名
			  <%= @user.last_name %>  <%= @user.first_name %>
			</div>

			<div scope="col">フリガナ
			  <%= @user.sub_last_name%>  <%= @user.sub_first_name %>
			</div>
			
            <div scope="col">郵便番号
			  <%= @user.postal_code %>
			</div>

            <div scope="col">住所
			  <%= @user.address %>
			</div>

            <div scope="col">電話番号
			  <%= @user.phone_number %>
			</div>

            <div scope="col">メールアドレス
			  <%= @user.email %>
			</div>
	</div>
		        <%= link_to "編集する", edit_admin_admin_path(@user), class: "btn btn-primary" %>
		        
		    	<%= link_to "注文履歴一覧を見る", admin_orders_path, class: "btn btn-primary" %>
</table>
