
<div class = 'cart_item_page'>
	<p style= 'color: pink;'><%= flash[:notice ]%></p>
		<h3 class="cart_text">ショッピングカート</h3><br>
			<p class="cart_delete_botton"><%= link_to 'カートを空にする', @user, method: :delete, data: {conform: "本当に全部削除してもよろしいですか？"}, class: "btn btn-danger" %>
			</p>

	<div class='cart_item_list'>
		<%= render 'cart_items', cart_items: @cart_items, total_price: @total_price %>
	</div>

		<%= paginate @cart_items %>
	  	<p class="cart_botto">
	  		<%= link_to '買い物を続ける', root_path, class: 'btn btn-primary' %></p>
	  	<p class="cart_total_price" >合計金額:<%= (@total_price * 1.1).to_i %>円</p>
		<p class="cart_order_botton">
			<%= link_to '情報入力に進む', new_public_order_path,class: "btn btn-success" %></p>
</div>







