
<div class = 'contaiter'>
	<div class='row'>
		<div class='col-4'>
			<p style= 'color: pink; font-size: 25px'><%= flash[:notice ]%>
			</p>
			<h3>ショッピングカート</h3>
			  <p style= "text-align: right;"><%= button_to 'カートを空にする', @user, method: :delete, data: {conform: "本当に全部削除してもよろしいですか？"}, class: "btn btn-danger" %>
			  </p>
		</div>

		<div class='col-8'>
			<table class="table table-striped">
			  <thead>
				    <tr>
				      <th scope="col">商品名</th>
				      <th scope="col">単価(税込)</th>
				      <th scope="col">数量</th>
				      <th scope="col">小計</th>
				    </tr>
			  </thead>
			  <tbody>
				    <tr>
				      <% @cart_items.each do |cart_item| %>
						<td><%= attachment_image_tag cart_item.sweet, :image, :fill, 50, 50, format: 'jpg',fallback: "no-image-icon.jpg" %>
							<%= cart_item.sweet.name %>
						</td>
						<!--単価(税込)-->
						<td><%= (cart_item.sweet.tax_free_price * 1.1).to_i %>円
						</td>
						<!--数量-->
						<td><%= form_for cart_item, url: public_cart_item_path(cart_item), method: :patch do |f| %>
							  <%= f.select :peace, options_for_select((1..10).to_a, cart_item.peace)%>
							  <%= f.submit '変更', class: "btn btn-primary"%>
							<% end %>
						</td>
						<!--小計-->
						<td><%= (cart_item.sweet.tax_free_price * cart_item.peace * 1.1).to_i %>円
							<% @total_price += (cart_item.sweet.tax_free_price * cart_item.peace * 1.1).to_i %>
						</td>
						<td><%= link_to'削除', public_cart_item_path(cart_item), method: :delete,data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %>
						</td>
					</tr>
					<% end %>
			  </tbody>
			</table>
		</div>

			<p><%= paginate @cart_items %></p>
		  	<ul style= "list-style: none;">
		  		<li><%= link_to '買い物を続ける', public_sweets_path, class: 'btn btn-primary' %></li>
		  		<li style= "text-align: center;" >合計金額:<%= (@total_price * 1.1).to_i %>円</li>
		  		<li></li>
		  		<li></li>
		  	</ul>

		  	<div style= "text-align: center;"><%= link_to '情報入力に進む', new_public_order_path,class: "btn btn-success" %></div>

		  </div>
		</div>
	</div>







