<div class="container">
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h3><span style="background-color:#CCCCCC;">注文情報入力</span></h3>
    </div>
    <div class="col-xs-10">
<%= form_for [:public, @order] do |f| %>
<%= f.hidden_field :user_id %>
<h4 class="order-new">支払い方法</h4>
    <div class="order-new1"><%= f.radio_button :payment_method, :クレジットカード %>クレジットカード</div>
    <div class="order-new1"><%= f.radio_button :payment_method, :銀行振込 %>銀行振込</div>
<h4 class="order-new">お届け先</h4>
    <div class="order-new1">
    <lebel><%= radio_button_tag("_add", "usersAdd") %>ご自身の住所</lebel>
    <span>〒<%= current_user.postal_code %> <%= current_user.address %>
    	<br><%= current_user.last_name %> <%= current_user.first_name %></span>
    </div>
    <div class="order-new1">
    	<lebel><%= radio_button_tag("_add", "deliveryAdds") %>登録済住所から選択</lebel>
          <br>
          <%= collection_select(Delivery, :id, @addres, :id, :full_name, class: "form-control") %>
    </div>
    <div class="order-new1"><%= radio_button_tag("_add", "newAdd") %>新しいお届け先</div>
    <%= fields_for :deliveries do |a| %>
    <div class="order-new1">郵便番号（ハイフンなし）</div><%= a.text_field :postal_code, class:"form-control", style:"width:30%;" %>
    <div class="order-new1">住所</div><%= a.text_field :address, class:"form-control", style:"width:70%;" %>
    <div class="order-new1">宛名</div><%= a.text_field :name,  class:"form-control col-xs-4", style:"width:30%;" %>
    <% end %><br><br>
    <%= f.submit "確認画面へ進む", class:"btn btn-success center-block" %>
    <% end %>
</div>
</div>
</div>