
<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<%= render 'public/sweets/template1', genres: @genres %>
		</div>
		<div class="col-xs-10">
			<h3>商品一覧</h3>
			 全<%= @sweets.count %>件
				<table class="">
					<thead>
						<th>画像</th>
						<th>商品名</th>
						<th>税抜価格</th>
					</thead>
					<tbody>
						<% @sweets.each do |sweet| %>
							<% if sweet.genre.genre_status == "有効" %>
								<tr>
									<td><%= attachment_image_tag sweet, :image, format: 'jpeg', size: "100x100" %></td>
									<td><%= link_to sweet.name, public_sweet_path(sweet.id) %></td>
									<td><%= sweet.tax_free_price %></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
		</div>
	</div>
</div>
